body {
	width: 200px;
	margin: 0;
}
.content {
	padding: 14px;
	margin: 0;
	border-bottom: 1px solid #dadada;
}
.content:last-child {
	border-bottom: none;
}
.content h3 {
	margin: 0;
}
.title {
	font-weight: bold;
}